
{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<title>Free CSS Gradient</title>

<body class="container py-5">

<h1>Free CSS Gradients</h1>

Top 100 Gradients
</a>
<br><br>
<div class="row">

{% for g in gradients %}


<div class="col-md-4 mb-3">

<a href="/gradient/{{ g.slug }}">


<div class="gradient-box"
style="height:120px; border-radius:30px; background: linear-gradient({{g.angle}}deg, {{ g.colors|join(',') }});">
</div>

<p>{{ g.name }}</p>

</a>

</div>

{% endfor %}

</div>
{% endblock %}
