<!DOCTYPE html>
<html>
<head>

<title>{{ gradient.name }} Gradient – Free CSS Gradient</title>

<meta name="description"
content="Download and copy the {{ gradient.name }} CSS gradient.">

<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
rel="stylesheet">

<style>

.gradient-preview{
height:300px;
border-radius:12px;
margin-bottom:20px;
transition: transform .2s;
}
.gradient-box:hover{
transform: scale(1.05);
}
</style>

</head>

<body class="container py-5">

<h1 class="mb-4">{{ gradient.name }} Gradient</h1>

<div class="gradient-preview"
style="
{% if gradient.gradient_type == 'linear' %}
background: linear-gradient({{gradient.angle}}deg, {{ gradient.colors|join(',') }});
{% else %}
background: radial-gradient(circle, {{ gradient.colors|join(',') }});
{% endif %}
">
</div>

<h4>CSS Code</h4>

<pre id="cssCode">
{% if gradient.gradient_type == 'linear' %}
background: linear-gradient({{gradient.angle}}deg, {{ gradient.colors|join(',') }});
{% else %}
background: radial-gradient(circle, {{ gradient.colors|join(',') }});
{% endif %}
</pre>

<button class="btn btn-primary" onclick="copyCSS()">
Copy CSS
</button>
<a href="/top-gradients" class="btn btn-primary ">
Top 100 Gradients
</a>

<a href="/gradients" class="btn btn-secondary">
Back to Gallery
</a>


<h3 class="mt-5 mb-3">Related Gradients</h3>

<div class="row">

{% for g in related %}

<div class="col-md-4 mb-3">

<a href="/gradient/{{ g.slug }}" style="text-decoration:none;">

<div style="
height:120px;
border-radius:10px;

{% if g.gradient_type == 'linear' %}
background: linear-gradient({{g.angle}}deg, {{ g.colors|join(',') }});
{% else %}
background: radial-gradient(circle, {{ g.colors|join(',') }});
{% endif %}
">
</div>

<p class="mt-2">{{ g.name }}</p>

</a>

</div>

{% endfor %}

</div>






<script>

function copyCSS(){

let text = document.getElementById("cssCode").innerText;

navigator.clipboard.writeText(text);

alert("CSS Copied!");

}

</script>

</body>
</html>