{% extends "base.html" %}

{% block content %}

<div class="legal-page">

    <h1>Refund Policy</h1>

    <p>
        We want you to be satisfied with our service.
    </p>

    <h4>Subscriptions</h4>

    <p>
        Subscription payments are generally non-refundable
        once the billing cycle has started.
    </p>

    <h4>Technical Issues</h4>

    <p>
        If you experience a technical issue that prevents
        you from using the service, please contact support.
    </p>

    <h4>Contact</h4>

    <p>
        support.gradientsaas@gmail.com
    </p>

</div>

{% endblock %}